---
import AccordionList from '../AccordionList';
 import Circle from '../../assets/svg/Circle.astro';
---

<style lang="scss">
	.faq{
		display: flex;
		padding: 0;
		gap: 0rem;
		flex-direction: column;

		@media screen and (min-width: 768px) {
			padding: 0;
			gap: 0rem;
			&__left img{
				height: 360px;
			}
		}

		@media screen and (min-width: 992px) {
			flex-direction: row;
			gap: 4rem;
			padding:  2rem 0;
		}

		&__left{
			flex: 1;
			display: flex;
			justify-content: center;
			align-self: center;

			img{
				max-width: 100%;

				@media screen and (min-width: 768px) {
						height: 360px;
				}

				@media screen and (min-width: 992px) {
						height: auto;
				}
			}
		}

		&__right{
			display: flex;
			align-items: center;
			padding-top: 4rem;
			flex: 1;
		}

		&__heading{
			font-size: 2.5rem;
			position: relative;

			.circle-1{
				position: absolute;
				top: -2rem;
				left: 80%;
			}
		}

		&__lead{
			margin-top: .75rem;

			& > .line{
				display: inline;

				@media screen and (min-width: 768px) {
						display: block;
				}
			}
		}

		&__accordion{
			margin-top: 1.25rem;

			.accordion{
				background: blue;
			}
		}
	}
</style>

<section class="faq">
	<div class="faq__left">
		<img src="/imgs/faq-img.png" sizes="( max-width: 768px) 200px, 526px" alt="Faq illustration" formats={['webp']}/>
	</div>
	<div class="faq__right">
		<div class="faq__right-content">
			<div class="faq__header">
					<h2 class="faq__heading">
						Frequently asked questions
						<div class="circle-1">
							<Circle size="34px" color="gradient-green" />
						</div>
					</h2>
					<p class="faq__lead">
						<span class="line">Know more about my blog and me. Here are few common </span>
						<span class="line">questions with answers that might help you </span>
					</p>
			</div>
			<div class="faq__accordion">
				<AccordionList client:visible/>
			</div>
		</div>
	</div>
</section>