---
let color: string;
const propsColor: string = Astro.props.color

if(propsColor === 'green') {
	color = '#A7F0DF'
} else if(propsColor === 'dark-green') {
	color = '#256D85'
} else {
	color = '#FFF'
}
---

<style lang="scss">
	.circleline{
		transform:  scale(.75);

		@media screen and (min-width:  768px) {
			transform:  scale(1);
		}
	}
</style>

<div class="circleline">
	<svg width={Astro.props.size} height={Astro.props.size} viewBox="0 0 118 118" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M55.2467 0.117456L100.172 45.0431L97.7421 47.4733L50.8298 0.561112C45.568 1.29 40.528 2.7128 35.8051 4.73413L113.266 82.1949C116.313 75.0751 118 67.2346 118 59C118 26.4152 91.5848 0 59 0C57.7393 0 56.4878 0.0395428 55.2467 0.117456ZM111.722 85.5118L32.4882 6.27774C19.0625 13.0422 8.57432 24.7842 3.4475 39.0798L4.72145 37.8058L80.7695 113.854C84.9429 112.196 88.8823 110.076 92.5244 107.557L46.9708 62.003L49.4011 59.5728L95.3241 105.496C98.2585 103.2 100.97 100.633 103.421 97.8316L33.2232 27.6341L35.6535 25.2039L105.618 95.168C107.949 92.167 109.998 88.9349 111.722 85.5118ZM77.1959 115.141L2.85922 40.8041C1.00301 46.5353 0 52.6505 0 59C0 89.7124 23.4667 114.944 53.4478 117.742L11.4562 75.7506L13.8865 73.3204L58.5646 117.998C58.7096 117.999 58.8547 118 59 118C65.3495 118 71.4647 116.997 77.1959 115.141Z" fill={color}/>
	</svg>

</div>