---
import Logo from '../assets/svg/Logo.astro'

---

<style lang="scss">
	.paddingOnSmall{
		padding:  0 1.5rem;

		@media screen and (min-width: 640px) {
			padding:  0;
		}
	}
</style>

<footer class={Astro.props.paddingOnSmall && 'paddingOnSmall'}>
	<div class="nav">
		<a href="/">
			<Logo />
		</a>

		<ul class="nav__list">
			{[{ name: 'Home', link: '/'}, { name: 'Blog', link: '/blog'},{ name: 'About', link: '/about'}].map(item => (
				<li><a href={item.link} class="nav__link">{item.name}</a></li>
			))}
		</ul>
	</div>
</footer>