---
import Card from '../Card.astro'
import Star from '../../assets/svg/Star.astro'

let posts = await Astro.glob('../../blog/*.mdx')
posts = posts.sort((a, b) => new Date(b.frontmatter.publishedAt) - new Date(a.frontmatter.publishedAt))
---

<style lang="scss">
	.blog{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
		padding:  1rem 0 4rem;
		position:  relative;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (min-width: 992px) {
			grid-template-columns: repeat(3, 1fr);
		}

		.star-1{
			position: absolute;
			top: -1.75rem;
			right: -1.75rem;
			z-index: -1;
		}
	}
</style>

<section class="blog">
	<div class="star-1">
		<Star size="68px" color="gradient-green" />
	</div>
	{ posts.map(blog => (
		<Card blog={blog} />
	)) }
</section>